.edjemd{
    height: 96px;
    width: 126px;
}

.bh-photo-grid-thumb-more{
    
    background-image: url("https://cf.bstatic.com/xdata/images/hotel/max500/363916302.jpg?k=13d57977b4a4453a0f28f45f2091d4e5972db292cbf146f3af1e1ab55f22fa69&o=&hp=1");
}

