.ejdej{
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    background-color: white;
    margin-top: 10px;
    border-radius: 12px;
}



.djeded{
    padding: 5px 20px;
    border: 2px solid rgb(221, 218, 218);
    display: flex;
    gap: 20px;
}

.edjedn{
    padding: 2px 100px;
    border: 2px solid;
    color: blue;
    border-radius: 5px;
}