.ediu3iu3{
    width: 70%;
    margin: auto;
    font-weight: bold;
    margin-top: 30px;
    font-size: 23px;
}

.edjnedn{
    justify-content: space-between;
}


.eduiedid{
    font-weight: normal;
    font-size: 15px;
    color: rgb(143, 141, 141);
}

.ediedi{
    margin-top: 20px;
    font-size: 17px;
}

.edmed{
    color: red;
}

.edjnje{
    display: flex;
    font-size: 14px;
    font-weight: normal;
    gap: 29px;
    margin-top: 20px;
}

.edjed{
    font-size: 12px;
}

.edjendj{
    font-weight: 700;
    font-size: 18px;
}