.eknedo{
    display: flex;
    margin-top: 12px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

.edjkednjk3n{
    height: 200px;
    border-radius: 12px;
    width: 200px;
}

.edjeoidi{
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid rgb(205, 188, 188);
}

.ed3dk3kdk3{
    font-weight: normal;
}


.fedjnejd{
    color: blueviolet;
}

.edjne{
    height: 20px;
}