.enoo3eji3e90{
    width: 67%;
    margin: auto;
    font-weight: bold;
    font-size: 22px;
}

.edn3iej93{
    width: 67%;
    margin: 5px auto;
    color: rgb(133, 124, 124);
}

.jhbuybuyg{
    height: 200px;
    width: 200px;
}



.enjdeojdi3{
    width: 67%;
    margin: auto;
    display: flex;
}

.edi393idj{
    width: 67%;
    margin: auto;
    display: flex;
    overflow: scroll;
    gap: 10px;
}

@media (max-width:1023px){
    .edi393idj{
        width: 100%;
    }
}

@media (max-width:1023px){
    .edn3iej93{
        width: 100%;
    }
}


