.stayPageBox{
    background-color: #003b95;
    padding: 10px;
}

.dj3ii89{
    display: flex;
    width: 72%;
    margin: auto;
    gap: 10px;
}
img{
    width: 100%;
}
.nw209w{
    position: relative;
}


.edndi389{
    height: 430px;
    background-image: url("https://cf.bstatic.com/static/img/landing_pages/runway_internal_action/dedicated-monthly-stays/hero_moment_2023_desktop/1d02f16445b2d253da81c121427b96c59a86d8d4.jpg");

}

.edndi389 h1{
    font-size: 25px;
    font-weight: 800;
    margin-top: 222px;
}

.sjkwiw{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.uhihh9j0{
    border: 4px solid orange;
    width: 66%;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
}

.ed3oioe{
    height: 323px;
    width: 625px;
    border-radius: 12px;
}

.oo3ii30{
    display: flex;
    justify-content: space-around;
}


.edjnedjed{
    width: 91%;
    margin: auto;
    margin-top: 109px;
}


.djwndiuj2{
    width: 40%;
    margin-top: 96px;
}

.dkjoi390{
    font-weight: normal;
    margin-top: 20px;
}

.ejdj39{
    font-weight: normal;
    margin-top: 20px;
}

.ecklem33{
    font-size: 32px;
    font-weight: 700;
}

.neje0{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    background-color: #f5f5f5;
    padding: 30px;
}

.djeni90{
    display: flex;
    width: 72%;
    justify-content: space-around;
    gap: 49px;
    margin-top: 20px;
}

.sjkw2999{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dn2990qi{
    width: 336px;
    margin-top: 23px;
}

.dn2990qi p{
    font-weight: 400;
}


.cnoe3030 svg{
    height: 50px;
}