

.wjdnjnd33{
    background-color: #003b95;
    padding: 12px;
    position: relative;
}


.deidie09e{
    display: flex;
    margin: auto;
    width: 71%;
    gap: 23px;
}


span{
    color: white;
    padding: 3px 12px;
    border-radius: 21px;
    display: flex;
    gap: 19px;
    border: 2px solid;
}

svg{
    height: 23px;
    display: flex;
    color: white;
}

.edjned889{
    width: 71%;
    margin: 60px auto;
}

.edje889{
    font-size: 46px;
    color: white;
    font-weight: 700;
}

.ghge43wdxfc{
    color: white;
    font-size: 24px;
}

.heroBannerSearchBox{
  width: 70%;
  margin: auto;
  border:  5px solid orange;
  position: relative;
  top: 43px;
}


.calender{
    height: 320px;
    width: 48%;
    background-color: red;
    position: absolute;
    top: 107%;
    left: 36%;
}