.ejdnjdn{
    background-color: #febb02;
    padding: 20px;
}

.edkjne{
    width: 213px;
}

.dcjnjrn{
    background-color: rgb(67, 67, 245);
    color: white;
    margin: auto;
    padding: 10px 151px;
}


.eiend{
    display: flex;
}


.rjnjed{
    width: 240px;
    padding: 5px
}