.rdrStaticRanges{
    display: none;
}


.rdrInputRanges{
    display: none;
}


.rdrDateDisplayWrapper{
    display: none;
}


.rdrCalendarWrapper {
    color: #000000;
    font-size: 12px;
    position: relative;
    left: 93%;
}