.offerSection{
    margin: 76px 241px;
    width: 72%;
    overflow: scroll;
    overflow-y: hidden;
    height: 276px;
}

.edjn82992820{
    font-size: 22px;
    font-weight: 700;
}

.dj3ei398{
    display: flex;
    gap: 22px;
    position: relative;
    width: 1669px;
}

.djniu298{
    margin-top: 7px;
    color: #595959;
}

.wsi209{
    display: flex;
}


.img{
    height: 114px;
    width: 118px;
}

.wsi2u9e93 {
    border: 1px solid #d4d4d4;
    width: 46%;
    gap: 10px;
    margin-top: 20px;
    padding: 18px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 22px;
    font-weight: 700;
}

p{
    margin-top: 0px;
    font-weight: 700;
    font-size: 15px;
}

.eddmed03{
    background: #4b4bdb;
    color: white;
    padding: 7px 12px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 14px;
}

.ednej99{
    position: absolute;
    left: 220px;
    top: 617px;
}

svg {
    display: flex;
    color: white;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid;
    padding: 5px;
    height: 32px;
    cursor: pointer;
}

svg:hover{
    background: rgb(155, 246, 215);
}

.rightArrow{
    position: absolute;
    left: 1335px;
    border: none;
    top: 610px;
}


::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }