.offerSection{
    margin: 76px 241px;
    width: 80%;
}

.edjn82992820{
    font-size: 22px;
    font-weight: 700;
}

.dj3ei398{
    display: flex;
    gap: 22px;
}

.djniu298{
    margin-top: 7px;
    color: #595959;
}

.wsi209{
    display: flex;
}


.img{
    height: 114px;
    width: 118px;
}

.wsi2u9e93 {
    border: 1px solid #d4d4d4;
    width: 46%;
    gap: 10px;
    margin-top: 20px;
    padding: 18px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 22px;
    font-weight: 700;
}

p{
    margin-top: 5px;
}

.eddmed03{
    background: #4b4bdb;
    color: white;
    padding: 7px 12px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 14px;
}